body {
  font-family: monospace;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  margin-top: 10%;
  background: linear-gradient(to right, #E10E0E, #2EA395);
}

div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  color: white;
  animation: effect 6s linear infinite;
  width: 100%;
  letter-spacing: 0.4em;
}

h1 {
  width: 100%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 2em;
  color: black;
}

@keyframes effect {
  0% {
    color: #175e5e;
  }

  50% {
    color: cyan;
  }

  100% {
    color: #175e5e;
  }
}

input {
  cursor: pointer;
}

#para {
  color: white;
  font-size: 1.2em;
}
